<!-- Google Search Verification Tag Tools -->
<meta name="google-site-verification" content="jajDpldvF8I74QpnlzTbt6IoFY7k8FLM-neD5sgRarg" />

<!-- Bing Search Verification Tag Tools -->
<meta name="msvalidate.01" content="C22EEDD34C851FD5BC53E86E9307B7E3" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XZQ8E9YJCX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XZQ8E9YJCX');
</script>